<div class="process">
    <h1>Our Process</h1>
    <div class="process-container">
        <div id="process-1">
            <h2>Discovery</h2>
            <p class="process-info">Finding out the best solution to your online needs, initial consult to contract.</p>
        </div>
        <div id="process-2">
            <h2>Design</h2>
            <p class="process-info">Incorporating content, branding and customer needs into a modern layout.</p>
        </div>
        <div id="process-3">
            <h2>Launch</h2>
            <p class="process-info">Hard coding your unique design with all the functionality you need.</p>
        </div>
    </div>
</div>