<div class="container">
    <div class="about">
        <h1>About</h1>
        <div>
            <h2>Our Mission</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Proin at finibus neque. Phasellus commodo dolor a maximus mattis. 
            Pellentesque non consequat turpis, tristique vehicula purus. 
            Quisque nec lacus in mi cursus tristique quis nec nisl. Etiam 
            accumsan tellus quis lobortis molestie. Suspendisse efficitur 
            lobortis neque. Aenean a euismod dui, hendrerit commodo tortor.</p>
        </div>
        <div>
            <h2>Why We Started</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Proin at finibus neque. Phasellus commodo dolor a maximus mattis.
            Pellentesque non consequat turpis, tristique vehicula purus. 
            Quisque nec lacus in mi cursus tristique quis nec nisl. Etiam 
            accumsan tellus quis lobortis molestie. Suspendisse efficitur 
            lobortis neque. Aenean a euismod dui, hendrerit commodo tortor.</p>
        </div>
        <div>
            <h2>10% to Veterans</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Proin at finibus neque. Phasellus commodo dolor a maximus mattis. 
            Pellentesque non consequat turpis, tristique vehicula purus. 
            Quisque nec lacus in mi cursus tristique quis nec nisl. Etiam 
            accumsan tellus quis lobortis molestie. Suspendisse efficitur 
            lobortis neque. Aenean a euismod dui, hendrerit commodo tortor.</p>
        </div>
    </div>
</div>