<div class="container">
    <div class="contact">
        <h1>Contact Us</h1>
        <form>
            <div>
                <h2>Contact Info:</h2>
                <div class="form-field">
                    <label>Name</label>
                    <input type="text" placeholder="Enter your name">
                </div>
                <div class="form-field">
                    <label>Email address</label>
                    <input type="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-field">
                    <label>Phone Number</label>
                    <input type="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your phone number">
                </div>
            </div>
                <h2>Project Info:</h2>
                <div>
                        <label>Business Type:</label>
                        <input type="text" placeholder="Enter your type of business">
                </div>
                <div>
                    <label> Tell us about your project</label>
                    <textareaid="exampleTextarea" rows="5" placeholder="Tell us a bit about your vision"></textarea>
                </div>
                <div>
                    <fieldset id="completion">
                        <label>Ideal Project Completion:</label>
                        <div>
                            <label>
                                <inputtype="radio" name="completion" id="completion1" value="option1">
                                Last week!
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="completion" id="completion2" value="option2">
                                Within 1 - 2 months
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="completion" id="completion3" value="option3">
                                Within 3+ months
                            </label>
                        </div>
                    </fieldset>
                </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>