<div class="blog-edit">
    <h1>Editing Post</h1>
    <%= render 'form' %>
    <div class="edit-links">
        <%= link_to 'Show', @post, class: 'btn btn-primary'  %> 
        <%= link_to 'Back', posts_path, class: 'btn btn-primary'  %>
    </div>
</div>